html {
  background-color: plum;
  height: 100%;
  font-family: 'Jua', sans-serif;
}

body {
  height: 80%;
  width: 75%;
  margin: auto; 
}

h1 {
  width: 80%;
  margin: auto;
}

table {
  background-color: rgb(230, 213, 199);
  border-collapse: collapse;
  width: 80%;
  height: 80%;
  margin: auto;
}

tr {
  height: 33%;
}

td {
  border: 2px solid black;
  color: darkcyan;
  text-align: center;
  font-size: 20vh;
  padding: 0;
}
