html {
  background-color: rgb(245, 201, 245);
  height: 100%;
  font-family: 'Jua', sans-serif;
}

body {
  height: 80%;
  width: 75%;
  margin: auto; 
}

h1 {
  /* width: 525px; */
  text-align: center;
  margin: auto;
}

#allIn {
  width: 60%;
  margin: auto;
}

table {
  /* float: left; */
  background-color: rgb(230, 213, 199);
  border-collapse: collapse;
  /* width: 80%;
  height: 80%; */
  width: 525px;
  height: 525px;
  margin: auto;
}

td {
  font-size: 125px;
  padding: 0;
  border: 2px solid black;
  color: darkcyan;
  text-align: center;
  width: 175px;
  height: 175px;
}

.side {
  width: 525px;
  text-align: center;
  margin: auto;
}

#newGame {
  font-size: 24px;
  margin: 5px;
  padding: 3px;
  background-color: rgb(114, 247, 247);
}

#turn {
  margin: 5px;
  padding: 5px;
  border: 1px dashed black;
  background-color: white;
}

@media all and (max-width: 959px) and (min-width: 600px) {
  table {
      width: 390px;
      height: 390px;
  }

    td {
      font-size: 100px;
      width: 130px;
      height: 130px;
  }

  .side {
    width: 390px
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  table {
    width: 240px;
    height: 240px;
  }

  td {
    font-size: 50px;
    width: 80px;
    height: 80px;
  }

  .side {
    width: 240px
  }

  #newGame {
    margin: auto;
    display: block;
  }

  #turn {
    display: block;
  }
}